USE [master]
GO
/****** Object:  Database [Misiones]    Script Date: 3/10/2024 20:45:56 ******/
CREATE DATABASE [Misiones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Misiones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Misiones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Misiones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Misiones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Misiones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Misiones]
GO
/****** Object:  Table [dbo].[Mision]    Script Date: 3/10/2024 20:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mision](
	[idMision] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[ValorSensor1] [bit] NOT NULL,
	[ValorSensor2] [bit] NOT NULL,
 CONSTRAINT [PK_Mision] PRIMARY KEY CLUSTERED 
(
	[idMision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mision] ON 

INSERT [dbo].[Mision] ([idMision], [FechaHora], [ValorSensor1], [ValorSensor2]) VALUES (1, CAST(N'2024-10-03T20:10:20.117' AS DateTime), 1, 1)
INSERT [dbo].[Mision] ([idMision], [FechaHora], [ValorSensor1], [ValorSensor2]) VALUES (2, CAST(N'2024-10-03T20:10:23.773' AS DateTime), 1, 0)
INSERT [dbo].[Mision] ([idMision], [FechaHora], [ValorSensor1], [ValorSensor2]) VALUES (3, CAST(N'2024-10-03T20:10:26.510' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Mision] OFF
GO
USE [master]
GO
