<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="MisionPath" value="mision.bin"/>
		<add key="BackendType" value="2"/>
	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=FACU\SQLEXPRESS;Initial Catalog=Misiones;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>